@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400;700&family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');

/*TODO -
1. organize and separate by section
2. use media queries to make responsive */

* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Bitter", serif;
}

html {
    background-color: hsl(60, 100%, 95%);
}

/*SECTION Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: hsl(60, 50%, 60%);
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
 display: inline;
}

.content {
    display: flex;
}

.logo {
    flex: 1;
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
    color: hsl(180, 100%, 15%);
    padding: 15px 10px;
    font-weight: 500;
}


.main {
    background-repeat: no-repeat;
    top: 65px;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature {
    background-repeat: no-repeat;
    position: relative;
    margin: 25px auto;
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 65px;
}

.hero {
    background-image: url("./images/karl-heinz-muller-ZvJBEatkqlM-unsplash.jpg");

}

.shop {
    background-image: url("./images/matt-briney-0tfz7ZoXaWc-unsplash.jpg");
}

.art {
    background-image: url("./images/khara-woods-KR84RpMCb0w-unsplash.jpg");
}

.community {
    background-image: url("./images/hillary-ungson-TdpSX7XAcKo-unsplash.jpg");
}

.tagline {
    font-family: "Cinzel", serif;
    font-size: 40px;
    font-weight: 700;
    color: hsl(180, 5%, 95%);

}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 0.9rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
    .dropdown:hover .dropbtn {
    background-color: hsl(180, 100%, 30%);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.9rem;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.link {
    font-family: "Cinzel", serif;
    font-size: 60px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: hsla(60, 100%, 30%, 0.5);
}

.link:hover {
    background-color: hsla(60, 100%, 30%, 0.75);
}

.link:active {
    background-color: hsla(180, 5%, 95%, 0.5);
    color: hsla(60, 100%, 30%, 0.75);
    border-color: hsla(60, 100%, 30%, 0.75);
}

footer {
    background-color: hsl(180, 100%, 15%);
    color: hsl(60, 50%, 60%);
    padding: 30px;
    width: 100%;
    text-align: center;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email div {
    padding: 15px;
}

.email input {
    margin-right: 5px;
    background-color: hsla(180, 100%, 85%, 0.75);
    padding: 5px;
}

.email input::placeholder {
    color: #f9f9f9;
}

.email button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: hsl(60, 50%, 60%);
    color: hsl(180, 100%, 15%);
    border-color: transparent;
    cursor: pointer;
}

.email button:hover {
    background-color: hsl(60, 50%, 50%);
}

.email button:active {
    background-color: hsl(180, 100%, 15%);
    color: hsl(60, 50%, 60%);
    border-color: hsl(60, 50%, 60%);
}

footer p {
    font-size: 0.5rem;
}

.about {
    top: 85px;
    position: relative;
}

.description {
    background-image: url("./images/ksenia-yakovleva-SzwyWBHwLMk-unsplash.jpg");
}

.description div,
.mission div {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: hsla(60, 100%, 30%, 0.5);
    margin: 30px;
    line-height: 1.6;
}

.description h1,
.mission h1 {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: 700;
}

.mission {
    background-image: url("./images/shane-rounce-DNkoNXQti3c-unsplash.jpg");
    height: 1000px;
}

.mission li {
    padding: 10px;
    font-style: italic;
}

li span {
    font-weight: 700;
    font-style: normal;
}